DataDeposit/static/node_modules/
DataDeposit/static/dist/*.js
DataDeposit/static/dist/*.map
.vscode/launch.json
DataDeposit/static/src1/
DataDeposit/server/__pycache__/
DataDeposit/server/bin/
DataDeposit/server/lib/
DataDeposit/server/lib64/
DataDeposit/server/share/
Deposit/server/share/
*.pyc