@import '../style_home';

.vertical-line{
    border-right: 2px solid #24557d;
    height: 100%;
}

.button-color {
    color: #3c87be
}

.leftBat-fixed-style {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 100;
}