
.button-style {
    margin-left: 10px;
    margin-right: 10px;

    Button.dropdown-toggle {
        color: black;
        background-color: white;
        border-color: #24557d;
        border-radius: 10px;
        width: 150px;
    }
}

.download-button-size {
    font-size: 20px;
    padding: 3px 50px;
}

.search-card-field {
    color: #533f03;
    font-weight: bold;
}