@import "react-datepicker/dist/react-datepicker";
@import "react-datepicker/dist/react-datepicker-cssmodules";

body {
    font-family: 'PT Sans', sans-serif;
    padding: 2rem;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
}

.themed-container {
    max-width: 90%;
}

///////////////////////////////////////////////////////////////
/////////////////////// MARGIN /////////////////////

@mixin margin($size, $side) {
    @if $size== '' {
        @if $side== '' {
            .margin {
                margin: 10px !important;
            }
        } @else {
            .margin {
                margin-#{$side}: 10px !important;
            }
        }
    } @else {
        @if $side== '' {
            .margin-#{$size} {
                margin: #{$size}px !important;
            }
        } @else {
            .margin-#{$side}-#{$size} {
                margin-#{$side}: #{$size}px !important;
            }
        }
    }
}

@include margin('5', 'top');
@include margin('10', 'top');
@include margin('20', 'top');
@include margin('25', 'top');
@include margin('30', 'top');
@include margin('5', 'bottom');
@include margin('10', 'bottom');
@include margin('20', 'bottom');
@include margin('25', 'bottom');
@include margin('30', 'bottom');
@include margin('50', 'bottom');
@include margin('5', 'right');
@include margin('10', 'right');
@include margin('20', 'right');
@include margin('25', 'right');
@include margin('30', 'right');
@include margin('5', 'left');
@include margin('10', 'left');
@include margin('20', 'left');
@include margin('25', 'left');
@include margin('30', 'left');

///////////////////////////////////////////////////////////////
/////////////////////// PADDING /////////////////////

@mixin padding($size, $side) {
    @if $size== '' {
        @if $side== '' {
            .padding {
                padding: 10px !important;
            }
        } @else {
            .padding {
                padding-#{$side}: 10px !important;
            }
        }
    } @else {
        @if $side== '' {
            .padding-#{$size} {
                padding: #{$size}px !important;
            }
        } @else {
            .padding-#{$side}-#{$size} {
                padding-#{$side}: #{$size}px !important;
            }
        }
    }
}

@include padding('5', 'top');
@include padding('10', 'top');
@include padding('20', 'top');
@include padding('5', 'bottom');
@include padding('10', 'bottom');
@include padding('20', 'bottom');
@include padding('25', 'bottom');
@include padding('30', 'bottom');
@include padding('50', 'bottom');
@include padding('5', 'right');
@include padding('10', 'right');
@include padding('16', 'right');
@include padding('20', 'right');
@include padding('30', 'right');
@include padding('50', 'right');
@include padding('5', 'left');
@include padding('10', 'left');
@include padding('16', 'left');
@include padding('20', 'left');
@include padding('30', 'left');
@include padding('50', 'left');

///////////////////////////////////////////////////////////////
/////////////////////// TEXT-ALIGN /////////////////////

@mixin text-align($side) {
    @if $side== '' {
        .text-align-#{$side} {
            text-align: inherit;
        }
    } @else {
        .text-align-#{$side} {
            text-align: #{$side};
        }
    }
}

@include text-align('left');
@include text-align('right');
@include text-align('center');
@include text-align('justify');
@include text-align('initial');

///////////////////////////////////////////////////////////////

.bold {
    font-weight: bold;
}

.border-radius-20 {
    border-radius: 20px;
}

.position-absolute {
    position: absolute;
}

.overflow-hidden {
    overflow: hidden;
}

.display-flex {
    display: flex;
}

.display-none {
    display: none;
}

.width-numeric-input {
    width: 60px;
    height: 35px;
}

.width-100 {
    width: 100%;
}

.label-format {
    font-size: 16px;
    font-weight: 700;
    padding-top: 8px;
}

.border-0 {
    border: 0;
}

.black-text {
    color: black;
}

////////////////////// SPECIAL DESIGN FOR BUTTONS /////////////////////////

input[type="submit"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="button"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="text"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="email"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="date"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="button"][disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;
}

textarea[disabled=""] {
    opacity: 0.6;
}

button[disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

textarea[disabled=""] {
    resize: none;
  }

.upload-button-size {
    font-size: 20px;
    padding: 3px 50px;
}
///////////////////////////////////////////////////////////////////
///////////////////////// COMMON ITEMS ////////////////////////////
.search-button-size {
    font-size: 20px;
    padding: 12px 60px;
}

.hr-style {
    margin-left: 20%;
    margin-right: 20%;
    border-color: rgb(13, 0, 134);
}

.star-size {
    border: none;
    outline: 0;
}

.z-depth-1-half {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
}

.z-depth-hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}

.z-depth-hoverable:hover {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
}

.container-inside {
    align-items: start;
}

//////////////////////////////////////////////////////////////////////
//////////////////////// MEDIA RESPONSIVE ////////////////////////////

@media all and (max-width: 1050px) {
    .resizable-1050 { display: none; }
}