@import "react-datepicker/dist/react-datepicker";
@import "react-datepicker/dist/react-datepicker-cssmodules";

.display-flex {
    display: flex;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.padding-top-10 {
    padding-top: 10px;
}

.padding-left-16 {
    padding-left: 16px;
}

.padding-right-16 {
    padding-right: 16px;
}

.padding-top-20 {
    padding-top: 20px;
}

.no-margin-top {
    margin-top: 0 !important;
}

.margin-right-5 {
    margin-right: 5px;
}

.margin-top-5 {
    margin-top: 5px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-bottom-10p {
    margin-bottom: 10%;
}

.padding-top-5 {
    padding-top: 5px;
}

.width-numeric-input {
    width: 60px;
    height: 35px;
}

.width-100 {
    width: 100%;
}

.label-format {
    font-size: 16px;
    font-weight: 700;
    padding-top: 8px;
}

////////////////////// SPECIAL DESIGN FOR BUTTONS /////////////////////////

input[type="submit"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="button"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="text"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="email"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="date"][disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

input[type="button"][disabled="true"] {
    opacity: 0.6;
    cursor: not-allowed;
}

textarea[disabled=""] {
    opacity: 0.6;
}

button[disabled=""] {
    opacity: 0.6;
    cursor: not-allowed;
}

.upload-button-size {
    font-size: 20px;
    padding: 3px 50px;
}
///////////////////////////////////////////////////////////////////

///////////////////////// COMMON ITEMS ////////////////////////////
.search-button-size {
    font-size: 20px;
    padding: 12px 60px;
}

.hr-style {
    margin-left: 20%;
    margin-right: 20%;
    border-color: rgb(13, 0, 134);
}

.star-size {
    border: none;
    outline: 0;
}

.z-depth-1-half {
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
}

.z-depth-hoverable {
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .55s ease-in-out;
    transition: all .55s ease-in-out;
}

.z-depth-hoverable:hover {
    // -webkit-box-shadow: none;
    // box-shadow: none;
    // -webkit-transition: all .55s ease-in-out;
    // transition: all .55s ease-in-out;
    -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
    box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18),0 4px 15px 0 rgba(0,0,0,0.15) !important;
}